.section {
  background-image: linear-gradient(to left, #f44298, #038ace);
  position: relative;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.img_first {
  max-width: 480px;
  width: 100%;
}

.section .textStyle {
  margin-top: 9%;
  margin-bottom: 8%;
}

.section .textStyle .fas {
  margin-left: 8px;
  font-size: 20px;
}

.textTitle {
  color: white;
  font-size: 35px;
  text-align: left;
}

.textBody {
  color: white;
  opacity: 0.7;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
}

.buttonStart {
  background-color: #7cd322;
  border: none;
  display: inline;
  float: left;
  color: white;

  margin-top: 10px;
  padding: 9px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.4s;
}

.buttonStart:hover {
  background-color: #63b20e;
}

.fab {
  font-size: 3em;
}

@media screen and (max-width: 767px) {
  .img_first {
    margin-top: 6%;
    max-width: 370;
  }
}

@media screen and (max-width: 580px) {
  .section .textStyle {
    margin-top: 25%;
  }

  .textTitle {
    margin-bottom: 12%;
    text-align: center;
  }
  .complementImg {
    display: none;
  }

  .buttonStart {
    margin-top: 10%;
    margin-bottom: 20%;
    float: none;
  }

  .textBody {
    text-align: center;
  }
}
