.section2 {
  background-color: #f7f7f7;
  position: relative;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.section2 .textStyle {
  margin-top: 4%;
  margin-bottom: 2%;
  text-align: left;
}

.section2 .textStyle .iconCoffee {
  margin-left: 8px;
  font-size: 25px;
}

.section2 .textTitle {
  margin-top: 25%;
  color: #353535;
  font-size: 35px;
}

.section2 .textBody {
  color: #353535;
  opacity: 0.5;
  font-size: 20px;
  font-weight: 300;
}
.section2 h4.textBody {
  margin-top: 20px;
}

.section2 .fab {
  font-size: 3em;
}

.img_second {
  max-width: 340px;
  width: 100%;
}

@media screen and (max-width: 580px) {
  .section2 .textStyle {
    margin-top: 10%;
    margin-bottom: 20%;
  }

  .img_second {
    transition: all 0.4s;
    max-width: 200px;
  }

  .section2 .textTitle {
    margin-bottom: 5%;
    margin-top: 6%;
    text-align: center;
  }
  .section2.willHideImage {
    transition: all 0.5s;
    display: none;
  }

  .section2 .textBody {
    opacity: 0.5;
    text-align: center;
  }
}
